<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caliteba S.R.L.</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/estilos/style.css">
    <link rel="stylesheet" href="/estilos/Custom.css">
    <link rel="stylesheet" href="/estilos/solid.css">
    <link rel="stylesheet" href="/estilos/fontawesome.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark fixed-top" id="mainNav">
        <div class="container-fluid p-0">
            <a class="navbar-marca" href="#page-top">Cali<span class="marca-rojo">teba</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarResponsive">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#nosotros">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#servicios">Servicios</a>
                        </li>
                        <!--<li class="nav-item">
                            <a class="nav-link" href="#novs">Novedades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#ofertas">Ofertas</a>
                        </li>-->
                        <li class="nav-item">
                            <a class="nav-link" href="#empresas">Representadas</a>
                        </li>
                        <li class="nav-item" >
                            <a class="nav-link" href="#cv">Cv</a>
                        </li>
                        <li class="nav-item " >
                            <a class="nav-link" href="#contacto">Contacto</a>
                        </li>
                    </ul>
                </div>
            <div class="btn text-end">
                <!-- <button class="btnlog"><a href="login.html">Login</a></button> -->
                <!-- <button type="button" class="btn btn-outline-light me-2"><a href="login.html">Login</a></button> -->
                <!-- <button type="button" class="btn"><a href="login.html">Login</a></button> -->
                <!-- <button type="button" class="btn btn-outline-secondary" href="Index.html">Login</button>-->
                <a href="login.html">Login</a>
            </div>
        </div>
    </nav>
    
    <header class="head1" id="page-top">
        <div class="cabe">
            <hr class="primario">
            <p class="shadow-text text-center p-5">
                Asegurá la temperatura de tu freezer / ultrafreezer para la vacuna COVID19
                <br>
                <br>
                Calibraciones y Calificaciones IQ / OQ / PQ hasta -95ºC
            </p>
        </div>
        <div class="cabe1">
            <p class="shadow-text text-center text-white" style="font-size: 6rem;">
                Caliteba S.R.L.
            </p>
            <br>
            <br>
            <p class="shadow-text text-center text-white">
                Laboratorio de Calibraciones
            </p>
        </div>
    </header>
    <section class="pagina-seccion" id="nosotros">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto text-center text-white">
                    <h2 class="encabezado-seccion text-white">Nosotros</h2>
                    <hr class="divider" >
                    <p>
                        <span class="resaltado">
                            <b>Caliteba S.R.L.</b>
                            es una empresa dedicada a la comercializacion de equipos, insumos e instrumental de laboratorio.
                            <br>
                            <br>
                            <strong>
                                Somos un Laboratorio de Calibraciones y contamos con Servicio Técnico de Post venta calificado.
                            </strong>
                        </span>
                    </p>
                    <hr class="divider">
                    <p>
                        Caliteba se dedica fundamentalmente a la provisión de insumos de filtración, 
                        baños termostáticos y termómetros. Con el paso de los años nuevas empresas del exterior 
                        han confiado en nosotros, lo que nos permitió ampliar la gama de productos que 
                        comercializamos dentro del equipamiento de control de calidad y procesos de las industrias 
                        farmacéutica, bioquímica, alimenticia, bebidas y petrolera. Finalmente se incorporó la 
                        línea de productos para control de calidad en polímeros.
                        <br>
                        <br>
                        La creciente demanda por parte de nuestros clientes permitió que incorporáramos a nuestros 
                        servicios un Laboratorio de Calibración de instrumentos, con emisión de certificado trazable 
                        a entes reconocidos internacionalmente, siguiendo los lineamientos de la norma ISO/IEC 17025.
                        <br>
                        <br>
                        Actualmente estamos en condiciones de brindar servicio de calibración de balanzas, baños 
                        termostáticos, termómetros, estufas, muflas, dinamómetros, máquinas de ensayo universal, 
                        plastómetros, equipos de presión hidrostática, péndulos de impacto, durómetros, 
                        HDT/VICAT, entre otros.
                        <br>
                        <br>
                        Desde su comienzo, la empresa se propuso destinar todos sus recursos para obtener la 
                        satisfacción total de nuestros clientes, desde el asesoramiento profesional para la venta 
                        hasta la garantía del servicio de post venta especializado.
                        <br>
                        <br>
                        Por eso cuidamos nuestros recursos humanos y buscamos los mejores proveedores para que 
                        nuestros clientes accedan al mejor precio y la máxima calidad.
                        <br>
                        <br>
                        Así estamos trabajando para nuestro objetivo que es convertirnos en un proveedor 
                        integral de productos y servicios seguro y confiable con continuidad a largo plazo.
                    </p>
                    
                </div>
            </div>
        </div>
    </section>
    <section class="pagina-seccion" id="servicios">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="encabezado-seccion">Servicios</h2>
                </div>
            </div>
        </div>
        <dic class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <i class="fa-solid fa-thermometer-half fa-6x" style="color: #4060a0;"></i>
                    <h3>Calibraciones</h3>
                    <p class="subtexto">Segun Normas IRAM 301 / ISO 17025.</p>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <i class="fa-solid fa-list fa-6x" style="color: #4060a0;"></i>
                    <h3>Calificaciones</h3>
                    <p class="subtexto">IQ/OQ/PQ</p>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <i class="fa-solid fa-screwdriver-wrench fa-6x" style="color: #4060a0;"></i>
                    <h3>Servicio Tecnico</h3>
                    <p class="subtexto">En todo el territorio nacional</p>
                </div>
            </div>
        </dic>
    </section>
    <section class="pagina-seccion" id="ofertas"></section>
    <section class="pagina-seccion" id="empresas">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto text-center">
                    <h2 class="encabezado-seccion">Empresas Representadas</h2>
                    <p>Las siguientes empresas confian en nuestros servicios para ser representadas 
                        en el territorio nacional.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="pagina-seccion" id="portfolio">
        <div class="container-fluid text-center">
            <div class="grilla row no-gutter">
                    <div class="col-emp">
                        <a class="portfolio-box" href="https://amarell-thermometer.de/">
                            <span class="img-helper"></span>
                            <img class="img-fluid" src="/fotos/Empresas/amarell.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-emp">
                        <a class="portfolio-box" href="https://www.huber-online.com/" target="_blank">
                            <span class="img-helper"></span>
                            <img class="img-fluid" src="/fotos/Empresas/huber.jpg" alt="https://www.huber-online.com/">
                        </a>
                    </div>
                    <div class="col-emp">
                        <a class="portfolio-box" href="https://knf.com/" target="_blank">
                            <span class="img-helper"></span>
                            <img class="img-fluid" src="/fotos/Empresas/knf-neuberger.png" alt="">
                        </a>
                    </div>
                    <div class="col-emp">
                        <a class="portfolio-box" href="https://www.memmert.com/" target="_blank">
                            <span class="img-helper"></span>
                            <img class="img-fluid" src="/fotos/Empresas/memmert.png" alt="">
                        </a>
                    </div>
                    <div class="col-emp">
                        <a class="portfolio-box" href="https://www.ametektest.com/" target="_blank">
                            <span class="img-helper"></span>
                            <img class="img-fluid" src="/fotos/Empresas/chatillon.png" alt="">
                        </a>
                    </div>
                    <div class="col-emp">
                        <a class="portfolio-box" href="https://axxicon.com/" target="_blank">
                            <span class="img-helper"></span>
                            <img class="img-fluid" src="/fotos/Empresas/axxicon.png" alt="">
                        </a>
                    </div>
                    <div class="col-emp">
                        <a class="portfolio-box" href="https://iptnet.de/" target="_blank">
                            <span class="img-helper"></span>
                            <img class="img-fluid" src="/fotos/Empresas/ipt.png" alt="">
                        </a>
                    </div>
                    <div class="col-emp">
                        <a class="portfolio-box" href="https://www.buchiglas.com/" target="_blank">
                            <span class="img-helper"></span>
                            <img class="img-fluid" src="/fotos/Empresas/buchi.png" alt="">
                        </a>
                    </div>
                    <div class="col-emp">
                        <a class="portfolio-box" href="https://climats-tec.com/" target="_blank">
                            <span class="img-helper"></span>
                            <img class="img-fluid" src="/fotos/Empresas/climats.png" alt="">
                        </a>
                    </div>
                    <div class="col-emp">
                        <a class="portfolio-box" href="https://www.lum-gmbh.com/" target="_blank">
                            <span class="img-helper"></span>
                            <img class="img-fluid" src="/fotos/Empresas/lum.png" alt="">
                        </a>
                    </div>
                    <div class="col-emp">
                        <a class="portfolio-box" href="https://www.dwk.com/" target="_blank">
                            <span class="img-helper"></span>
                            <img class="img-fluid" src="/fotos/Empresas/DWK_1_.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-emp">
                        <a class="portfolio-box" href="https://www.hahnemuehle.com/" target="_blank">
                            <span class="img-helper"></span>
                            <img class="img-fluid" src="/fotos/Empresas/Munktell-logo.jpg" alt="">
                        </a>
                    </div>
            </div>
        </div>
    </section>
    <section class="pagina-seccion" id="novedades"></section>
    <section class="pagina-seccion" id="cv">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="encabezado-seccion text-white">Cv</h2>
                </div>
            </div>
            <div class="row">
                <hr class="divider">
                <p class="text-center text-white">
                    Si estas interesado en unirte a nuestro equipo de trabajo, completa el siguiente formulario.
                </p>
                <hr class="divider">
            </div>
        </div>
        <div class="formulario d-flex justify-content-center">
            <form action="/Php/Form.php" method=post enctype="multipart/form-data">
                <div class="form-info">
                    <label for="nombre">Nombre y Apellido:</label>
                    <input type="text" id="nombre" name="nombre" required>
                </div>
                <div class="form-info">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-info">
                    <label for="archivo">Cv:</label>
                    <input type="file" id="archivo" name="archivo" accept=".pdf" required>
                </div>
                <div class="form-info">
                    <label for="archivo">Carta de presentacion:</label>
                    <input type="file" id="archivo" name="archivo" accept=".pdf" required>
                </div>
                <div class="form-info justify-content-center">
                    <button type="submit">
                        <i class="fa-solid fa-paper-plane" title="Enviar"></i>
                    </button>
                </div>
            </form>
        </div>
        <br>
        <br>
    </section>
    <section class="pagina-seccion" id="contacto">
        <div class="container text-center text-white">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="encabezado-seccion">Contacto</h2>
                </div>
            </div>
            <div class="row">
                <div class="seccion-body">
                    <p>¿Queres contratar nuestros servicios?
                        <br>
                        ¿Averiguar sobre nuestros productos?
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <i class="fa-solid fa-house-chimney-user fa-3x"></i>
                    <p>Diag. 69 Dr Aleu 3329/31
                        <br>
                        B1651EKE - San Andres
                        <br>
                        Buenos Aires, Argentina
                    </p>
                </div>
                <div class="col">
                    <i class="fa-solid fa-phone fa-3x"></i>
                    <p>
                        +5411 4738 3367
                        <br>
                        +5411 4738 6967
                    </p>
                </div>
                <div class="col">
                    <i class="fa-solid fa-envelope fa-3x"></i>
                    <p><a href="mailto:info@caliteba.com.ar">info@caliteba.com.ar</a></p>
                </div>
                <div class="col">
                    <i class="fa-brands fa-whatsapp fa-3x"></i>
                    <p><a href="https://wa.me/5491162239488?text=Hola,%20quiero%20más%20información" target="_blank">Whatapp</a></p>
                </div>
            </div>
        </div>
    </section>

    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/Js/bootstrap.min.js"></script>

    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>-->
    <!-- Bootstrap core JS-->
    <script src="js/bootstrap.min.js"></script>
    <!-- Core theme JS-->
    <script src="/codigo/scripts.js"></script>
    <script src="/codigo/Custom.js"></script>
   


</body>
</html>